###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

/.idea/*
phpunit.junit.xml
phpspec.junit.xml

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
/behat.junit.xml
