default:
    suites:
        default:
            paths:
               features: %behat.paths.features%
            contexts:
                - App\Tests\Scenario\Context\APIContext
    extensions:
        FriendsOfBehat\SymfonyExtension: ~
